/* Common Elements */

html,
body {
  font-family: "Roboto", sans-serif !important;
  background-color: #ffffff;
}

h1,
button {
  color: #1f1235;
}

h2,
h3,
h4,
h5,
h6 {
  color: #1f1235;
}

a,
a:active {
  color: #ff6e6c;
}

::selection {
  background-color: rgba(103, 86, 140, 0.4);
  color: #ffffff;
}
.navbar,
.navbar-brand {
  background-color: #f4effc;
  color: #67568c;
  border-radius: 5px;
}
.navbar-nav .nav-link.active {
  color: #1f1235;
  font-weight: 500;
}
.btn-primary {
  background-color: #ff6e6c;
  border: none;
}
.btn-primary:hover {
  background-color: #67568c;
}

.footer {
  background-color: #f4effc;
  color: #1f1235;
  font-size: 0.7rem;
  letter-spacing: 1px;
  margin: 0 auto;
  padding: 30px 0px 10px 0px;
  text-align: center;
}
.add-button {
  position: fixed;
  z-index: 1;
  bottom: 2vh;
  right: 3vh;
  text-align: center;
}
.add-button button {
  font-size: 2rem;
  border-radius: 30%;
  border: none;
  color: #67568c;
}
.add-button button:hover,
.add-button button:active {
  color: #ff6e6c;
}

/* Hide Arrows From Input Number */

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* index.ejs ***********/
.card {
  box-shadow: rgba(103, 86, 140, 0.12) 0px 1px 3px,
    rgba(0, 0, 0, 0.24) 0px 1px 1px;
  max-width: 250px;
  min-width: 150px;
}
.card:hover,
.card:active {
  transform: scale(1.015);
  transition: transform 0.3s;
}
.card button:hover {
  position: relative;
  top: 1px;
}
.card-title {
  text-transform: capitalize;
  color: #67568c;
}

/* dishinfo.ejs   */
.categories {
  background-color: #e2daeb;
  color: #1b1325;
  font-size: 0.9rem;
}
.categories:hover {
  background-color: #ff6e6c;
  transition: all 0.5s;
  cursor: pointer;
}

/* Edit Button */

.edit{
  font-size: 2rem;
  padding: 0;
  border: none;
  color: #ff6e6c;
}
.edit:hover, .edit:active{
  background:none;
  color: #67568c;
}

/* new-dish.ejs */

/* https://yaireo.github.io/tagify/#section-different-look */
.tags-customLook{
  --tag-bg: #67568c;
  --tag-hover: #ff6e6c;
  --tag-text-color: #fff;
  --tag-text-color--edit: #67568cc7;
}


/* --------------------- CSS for different Screen Sizes ----------------- */

@media only screen and (min-width: 768px) {
  /* tablets and desktop */

  .add-button button {
    padding: 0;
    font-size: 3.5rem;
  }
}

@media only screen and (max-width: 567px) {
  /* phones */
  .card {
    width: 46vw;
  }
  .add-button {
    display: flex;
    justify-content:center;
    width: 100%;
    bottom: 0vh;
    right: 0vh;
    padding: 10px 0 2px 0;
  }

  .add-button button{
    font-size: 2.5rem;
  }
}

@media only screen and (max-width: 567px) and (orientation: portrait) {
  /* portrait phones */
}
